<h1> Edit this Animal's name? </h1>

<%= render 'form' %>
<!-- <%= link_to "Back", root_path, class: "button "%> -->
<%= link_to "Back", root_path %>

<!-- <FORM METHOD="LINK" ACTION= root_path  >
<INPUT TYPE="submit" VALUE="Clickable Button">
</FORM> -->
